html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.mainScreen {
	width: 1200px;
	margin: auto;
}

.titleHeader {
	font-size: 50pt;
	text-align: center;
}

.mealDetailsSide {
	width: 46%;
	height: 500px;
	float: left;
	margin-top: -40px;
}

.customerAndEarningsSide {
	width: 49%;
	height: 500px;
	float: right;
	margin-top: -40px;
}


/*------------------------
Meal Details Box
------------------------*/

.mealDetailsBox {
	height: 400px;
	width: 400px;
	border: 1px solid black;
	float: right;
	margin-top: 50px;
	margin-left: 130px;
}

.mealDetailsBox p {
	font-size: 18pt;
	text-align: center;
	line-height: 50px;
}

.bmp {
	margin-left: -4px;
}

.tr {
	margin-left: 57px;
}

.buttons {
	margin-top: 70px;
	margin-left: 30px;
}

.buttons button {
	padding: 5px;
	font-size: 20pt;
	margin-left: 40px;
}


/*------------------------
Customer Charges Box
------------------------*/

.customerChargesBox {
	height: 180px;
	width: 300px;
	border: 1px solid black;
	margin-top: 50px;
}

.ccInfo {
	width: 70%;
}

/*.ccInfo div {
	display: inline-block;
}*/

.ccInfo span {
	font-size: 12pt;
	line-height: 30px;
}

/*.customerChargesLeftSide {
	text-align: right;
	width: 49%;
}

.customerChargesRightSide {
	width: 49%;
}*/

.subTotal {
	margin-left: 30px;
}

.tip {
	margin-left: 61px;
}

.total {
	margin-left: 50px;
}

/*------------------------
My Info Box
------------------------*/

.myEarningsInfoBox {
	height: 180px;
	width: 300px;
	border: 1px solid black;
	margin-top: 40px;
}

.myEarningsInfoBox span {
	line-height: 40px;
	font-size: 12pt;
}

.tipTotal {
	margin-left: 92px;
}

.mealCount {
	margin-left: 76px;
}

.avgTipPerMeal {
	margin-left: 10px;
}










.resetButton {
	float: right;
	height: 40px;
	width: 100px;
	font-size: 16pt;
	margin-top: -20px;
	margin-right: 70px;
}

hr {
	clear: both;
}

h2 {
	font-size: 18pt;
	text-align: center;
	padding-top: 5px;
}